// You can add global styles to this file, and also import other style files

html,
body {
  height: 100%;
  margin: 0;
}

.input-group {
  margin-bottom: 15px;
}

.jumbotron {
  border-radius: unset !important;
}

pre {
  color: wheat !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

@font-face {
  font-family: "CubicCoreMono";
  src: url(assets/fonts/CubicCoreMono.ttf) format("opentype");
}

.crowd-font {
  font-family: "CubicCoreMono";
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
