// You can add global styles to this file, and also import other style files

html,
body {
  height: 100%;
  margin: 0;
}

.input-group {
  margin-bottom: 15px;
}

@font-face {
  font-family: "CubicCoreMono";
  src: url(assets/fonts/CubicCoreMono.ttf) format("opentype");
}

.crowd-font {
  font-family: "CubicCoreMono";
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
