#editor {
  position: fixed;
  width: 100%;
  height: calc(100% - 57px);
}

#crowd-tools-load-modal .card:hover {
  box-shadow: 0px 0px 2px 0px white;
  cursor: pointer;
}

.crowd-model-label {
  text-transform: uppercase;
  float: right;
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 4px;
  margin-top: -9px;
  margin-right: -17px;
}

.crowd-model-label.uml {
  background: cadetblue;
}

.crowd-model-label.eer {
  background: crimson;
}

.crowd-model-label.orm {
  background: darkmagenta;
}

.crowd-model-label.meta {
  background: #191d21;
  color: white;
}

.crowd-diagram-load-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: height 0.3s;
  color: rgba(0, 0, 0, 0);
}

.card:hover > .crowd-diagram-load-button {
  display: unset;
  height: 100%;
  color: white;
}

.crowd-diagram-load-button > p {
  // display: none;
  margin-top: calc(50% - 10px);
  font-size: 20px;
  font-weight: 500;
}

.crowd-diagram-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.crowd-diagram-preview {
  background: white;
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  // border-radius: 0px 0px 4px 4px;
}

.crowd-diagram-preview.tutorial {
  height: auto;
}

.crowd-diagram-preview-save {
  background: white;
  width: 100%;
  border-radius: 4px;
}

.crowd-diagram-preview-container {
  padding: 0;
  text-align: center;
  min-height: 50px;
}

.crowd-diagram-preview-container .crowd-diagram-btn {
  width: 30px;
  height: 25px;
  padding: 0px;
  margin-right: 5px;
  // margin: -15px -16px 10px 0px;
}

.crowd-diagram-buttons {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.crowd-namespace-col {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-width: 65px;
  max-width: 400px;
}

.crowd-namespaces-table {
  overflow-wrap: anywhere;
}
