<div id="editor"></div>

<div id="crowd-tools-load-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-cloud-download"></i> Load Diagram</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-lg-3 col-xl-3" *ngFor="let diagram of diagrams">
            <div class="card mb-3" (click)="loadDiagram(diagram)" title="{{diagram.name}}" data-toggle="tooltip"
              data-placement="top" data-container="#crowd-tools-load-modal" data-boundary="viewport"
              data-trigger="hover">
              <div class="crowd-diagram-load-button" *ngIf="diagram.preview">
                <p>Load</p>
              </div>
              <div class="card-header crowd-diagram-header">
                <span *ngIf="!diagram.meta" class="crowd-model-label {{diagram.model}}">{{diagram.model}}</span>
                <span *ngIf="diagram.meta" class="crowd-model-label meta">KF</span>{{diagram.name}}
              </div>
              <div class="card-body crowd-diagram-preview-container" *ngIf="diagram.preview">
                <img class="crowd-diagram-preview" src="{{diagram.preview}}" />
                <div class="crowd-diagram-buttons">
                  <button class="btn btn-danger pull-right crowd-diagram-btn"
                    (click)="setDiagram('delete', diagram, $event)" data-toggle="tooltip" data-original-title="Delete">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button class="btn btn-primary pull-right crowd-diagram-btn"
                    (click)="setDiagram('rename', diagram, $event)" data-toggle="tooltip" data-original-title="Rename">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!diagrams.length" style="text-align: center;">
          <i class="material-icons" style="font-size: 165px;">folder_shared</i>
          <p><b>You haven't saved Diagrams on your Cloud.</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="crowd-tools-save-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-cloud-upload"></i> Save Diagram</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card mb-3">
          <div class="card-body">
            <img class="crowd-diagram-preview-save" src="{{preview}}" />
          </div>
        </div>
        <form [formGroup]="diagramForm" autocomplete="off">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-fw fa-file"></i>
                </span>
              </div>
              <input class="form-control" type="text" name="diagramName" formControlName="diagramName"
                placeholder="Name" [ngClass]="setValid('diagramName')" autocomplete="off">
              <div class="invalid-feedback">
                <div *ngIf="diagramName.errors && diagramName.errors.required">
                  Name is required
                </div>
                <div *ngIf="diagramName.errors && (diagramName.errors.minlength || diagramName.errors.maxlength)">
                  Name must be at 4-30 characters long
                </div>
                <div *ngIf="diagramName.errors && diagramName.errors.pattern">
                  Name can only have characters, numbers and _ or - symbols
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" name="diagramMeta" formControlName="diagramMeta" checked>
            <label class="form-check-label" for="diagramMeta">Save as META model for translateable diagram</label>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetDiagramForm()">Close</button>
        <button type="submit" class="btn btn-adaptive pull-right" (click)="addDiagram()">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<div id="crowd-tools-rename-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-pencil-square-o"></i> Rename Diagram</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="diagramForm" autocomplete="off">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-fw fa-file"></i>
                </span>
              </div>
              <input class="form-control" type="text" name="diagramName" formControlName="diagramName"
                placeholder="Name" [ngClass]="setValid('diagramName')" autocomplete="off">
              <div class="invalid-feedback">
                <div *ngIf="diagramName.errors && diagramName.errors.required">
                  Name is required
                </div>
                <div *ngIf="diagramName.errors && (diagramName.errors.minlength || diagramName.errors.maxlength)">
                  Name must be at 4-30 characters long
                </div>
                <div *ngIf="diagramName.errors && diagramName.errors.pattern">
                  Name can only have characters, numbers and _ or - symbols
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" name="diagramMeta" formControlName="diagramMeta" checked>
            <label class="form-check-label" for="diagramMeta">Save as META model for translateable diagram</label>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetDiagramForm()">Close</button>
        <button type="submit" class="btn btn-adaptive pull-right" (click)="renameDiagram()">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<div id="crowd-tools-delete-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-trash"></i> Delete Diagram</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete diagram named <b>{{diagramName.value}}</b>?</p>
        <p><b>This action cannot be reverted</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetDiagramForm()">Cancel</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="deleteDiagram()">Proceed</button>
      </div>
    </div>
  </div>
</div>

<div id="crowd-tools-tutorials-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-youtube"></i> Tutorials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-lg-3 col-xl-3" *ngFor="let tutorial of tutorials">
            <a href="https://www.youtube.com/watch?v={{tutorial.id}}" target="_blank">
              <div class="card mb-3" title="{{tutorial.title}}" data-toggle="tooltip" data-placement="top"
                data-container="#crowd-tools-tutorials-modal" data-boundary="viewport" data-trigger="hover">
                <div class="crowd-diagram-load-button">
                  <p><i class="fa fa-fw fa-lg fa-play"></i></p>
                </div>
                <div class="card-header crowd-diagram-header">
                  {{tutorial.title}}
                </div>
                <div class="card-body crowd-diagram-preview-container">
                  <img class="crowd-diagram-preview tutorial" src="http://img.youtube.com/vi/{{tutorial.id}}/0.jpg" />
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="!tutorials.length" style="text-align: center;">
          <i class="material-icons" style="font-size: 165px;">ondemand_video</i>
          <p><b>There is no tutorials yet.</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="crowd-tools-namespaces-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-hashtag"></i> Namespaces</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered crowd-namespaces-table">
          <thead class="thead-adaptive">
            <tr>
              <th scope="col">Prefix</th>
              <th scope="col">URL</th>
              <th scope="col">Description</th>
              <th scope="col">File</th>
              <th scope="col" style="min-width: 115px;"></th>
            </tr>
          </thead>
          <tbody *ngIf="!namespaces.length">
            <tr>
              <td class="text-center" colspan="5">There is no namespaces yet.</td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let namespace of namespaces">
              <td>
                <div class='crowd-namespace-col' title="{{namespace.prefix}}" data-toggle="tooltip"
                  data-container="#crowd-tools-namespaces-modal" data-boundary="viewport" data-trigger="hover"
                  data-placement="right">{{namespace.prefix}}</div>
              </td>
              <td>
                <div class='crowd-namespace-col' title="{{namespace.url}}" data-toggle="tooltip"
                  data-container="#crowd-tools-namespaces-modal" data-boundary="viewport" data-trigger="hover"
                  data-placement="right"><a href='{{namespace.url}}' target='_blank'>{{namespace.url}}</a>
                </div>
              </td>
              <td>
                <div class='crowd-namespace-col' title="{{namespace.description}}" data-toggle="tooltip"
                  data-container="#crowd-tools-namespaces-modal" data-boundary="viewport" data-trigger="hover"
                  data-placement="right">{{namespace.description}}</div>
              </td>
              <td>
                <div class='crowd-namespace-col' title="{{namespace.file}}" data-toggle="tooltip"
                  data-container="#crowd-tools-namespaces-modal" data-boundary="viewport" data-trigger="hover"
                  data-placement="right"><a href='{{namespace.file}}' target='_blank'>{{namespace.file}}</a></div>
              </td>
              <td>
                <div class="btn-toolbar">
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-primary" (click)="setNamespace('edit', namespace)"
                      data-toggle="tooltip" data-original-title="Edit">
                      <i class="fa fa-fw fa-pencil-square-o"></i>
                    </button>
                  </div>
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-danger" (click)="setNamespace('delete', namespace)"
                      data-toggle="tooltip" data-original-title="Delete">
                      <i class="fa fa-fw fa-trash"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-adaptive pull-right" (click)="setNamespace('add')">
          <i class="fa fa-plus"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>

<div id="crowd-tools-namespace-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-{{this.namespace ? 'pencil-square-o': 'plus'}}"></i>
          {{this.namespace ? 'Edit': 'Add'}} Namespace</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="namespaceForm" autocomplete="off">
          <div class="form-group">
            <div class="row mb-3">
              <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <label for="namespacePrefix">Prefix <small class="text-muted">*</small></label>
                <input class="form-control" type="text" name="namespacePrefix" formControlName="namespacePrefix"
                  placeholder="ex: time" [ngClass]="setValid('namespacePrefix')" autocomplete="off">
                <div class="invalid-feedback">
                  <div *ngIf="namespacePrefix.errors && namespacePrefix.errors.required">
                    Prefix is required
                  </div>
                  <div
                    *ngIf="namespacePrefix.errors && (namespacePrefix.errors.minlength || namespacePrefix.errors.maxlength)">
                    Prefix must be at 1-100 characters long
                  </div>
                  <div *ngIf="namespacePrefix.errors && namespacePrefix.errors.pattern">
                    Prefix can only have characters, numbers and _ or - symbols
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
                <label for="namespaceUrl">URL <small class="text-muted">*</small></label>
                <input class="form-control" type="text" name="namespaceUrl" formControlName="namespaceUrl"
                  placeholder="ex: http://www.w3.org/2006/time#" [ngClass]="setValid('namespaceUrl')"
                  autocomplete="off">
                <div class="invalid-feedback">
                  <div *ngIf="namespaceUrl.errors && namespaceUrl.errors.required">
                    URL is required
                  </div>
                  <div *ngIf="namespaceUrl.errors && (namespaceUrl.errors.minlength || namespaceUrl.errors.maxlength)">
                    URL must have at most 1000 characters long
                  </div>
                  <div *ngIf="namespaceUrl.errors && namespaceUrl.errors.pattern">
                    URL must be a valid one, like: http://example.com
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="namespaceDescription">Description</label>
                <textarea class="form-control" type="text" name="namespaceDescription"
                  formControlName="namespaceDescription" rows="5"
                  placeholder="ex: OWL-Time is an OWL-2 DL ontology of temporal concepts, for describing the temporal properties of resources in the world or described in Web pages"
                  [ngClass]="setValid('namespaceDescription')" autocomplete="off"></textarea>
                <div class="invalid-feedback">
                  <div *ngIf="namespaceDescription.errors && namespaceDescription.errors.maxlength">
                    Description must have at most 1000 characters long
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="namespaceFile">File URL <small class="text-muted">
                    <i class="fa fa-info-circle"
                      title="This URL might refer to the OWL file of the ontology, this way crowd can found all the elements of it"
                      data-toggle="tooltip" data-placement="top" data-container="#crowd-tools-namespace-modal"
                      data-boundary="viewport" data-trigger="hover"></i>
                  </small>
                </label>
                <input class="form-control" type="text" name="namespaceFile" formControlName="namespaceFile"
                  placeholder="ex: http://www.w3.org/2006/time" [ngClass]="setValid('namespaceFile')"
                  autocomplete="off">
                <div class="invalid-feedback">
                  <div
                    *ngIf="namespaceFile.errors && (namespaceFile.errors.minlength || namespaceFile.errors.maxlength)">
                    File URL must have at most 1000 characters long
                  </div>
                  <div *ngIf="namespaceFile.errors && namespaceFile.errors.pattern">
                    File URL must be a valid one, like: http://example.com
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetNamespaceForm()">Close</button>
        <button type="submit" class="btn btn-adaptive pull-right" (click)="saveNamespace()">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<div id="crowd-tools-namespace-delete-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-fw fa-trash"></i> Delete Namespace</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete namespace named <b>{{namespacePrefix.value}}</b> ({{namespaceUrl.value}})?</p>
        <p><b>This action cannot be reverted</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
          (click)="resetNamespaceForm()">Cancel</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="deleteNamespace()">Proceed</button>
      </div>
    </div>
  </div>
</div>
