/* theme variables */
$primary: #c6c5c3;
$accent: #e6e6e6;
$warn: #f4511e;
$alt-primary: #c2bcbc;
$alt-accent: #d6d5d5;

$primary-dark: #191d21;
$accent-dark: #343a40;
$warn-dark: #f4511e;
$alt-primary-dark: #121518;
$alt-accent-dark: #262a2e;

::ng-deep ngx-codemirror > div {
  padding: 0.5rem 0 0 1rem;
  height: calc(100% - 2rem) !important;
  border-radius: 0.5rem 0 0 0.5rem;
}

::ng-deep ngx-codemirror.codemirror-full-height > div {
  height: 100% !important;
}

//to fix json viewer content overflow and background color
//UNUSED because now we use ngx-codemirror
// ::ng-deep .ngx-json-viewer {
//   overflow-y: auto !important;
//   white-space: normal !important;
//   background-color: white;
//   border-radius: 0.5rem 0 0 0.5rem;
//   padding: 0.5rem 1rem;
// }

// ::ng-deep .bootstrap-dark .ngx-json-viewer {
//   background-color: #262a2e;
// }

// ::ng-deep .ngx-json-viewer section {
//   white-space: normal !important;
// }

// $type-colors: (
//   key: $primary-dark,
//   separator: $accent-dark,
//   value: $warn-dark,
// );

// @each $type, $color in $type-colors {
//   ::ng-deep .ngx-json-viewer .segment-#{$type} {
//     color: $color !important;
//   }
// }

// $type-colors-dark: (
//   key: $primary,
//   separator: $accent,
//   value: $warn,
// );

// @each $type, $color in $type-colors-dark {
//   ::ng-deep .bootstrap-dark .ngx-json-viewer .segment-#{$type} {
//     color: $color !important;
//   }
// }

//to fix flex grow when content is bigger than the flexbox
.d-flex,
.d-flex div {
  min-width: 0;
  min-height: 0;
}

#api-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 57px);
}

.side-btn {
  color: #343a40;
  border-radius: 0px !important;
  border-left: 5px solid transparent !important;
}

::ng-deep .bootstrap-dark .side-btn {
  color: #adadad;
}

.side-btn:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.side-btn.active {
  border-left: 5px solid $accent-dark !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

::ng-deep .bootstrap-dark .side-btn.active {
  border-left: 5px solid $accent !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.side-menu {
  background-color: $accent !important;
  width: min-content;
  height: 100%;
}

::ng-deep .bootstrap-dark .side-menu {
  background-color: $accent-dark !important;
}

.secondary-side-menu {
  background-color: $alt-accent !important;
  height: 100%;
  transition: max-width 1s;
}

::ng-deep .bootstrap-dark .secondary-side-menu {
  background-color: $alt-accent-dark !important;
}

.central-menu {
  background-color: $alt-primary !important;
  height: 100%;
}

::ng-deep .bootstrap-dark .central-menu {
  background-color: $alt-primary-dark !important;
}

.tabs {
  min-height: 2.5rem !important;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: $alt-primary !important;
}

::ng-deep .bootstrap-dark .tabs {
  background-color: $alt-primary-dark !important;
}

.tab {
  position: relative;
  height: 2rem;
  width: 10rem;
  border-radius: 10px 10px 0px 0px;
  text-align: left;
  font-size: smaller;
  opacity: 0.5;
  transition: none;
}

.tab:not(.new-tab) {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

::ng-deep .bootstrap-dark .tab:not(.new-tab) {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.tab:hover:not(.tab-active, .new-tab) {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

::ng-deep .bootstrap-dark .tab:not(.tab-active, .new-tab):hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.tab.tab-active {
  opacity: 1;
}

.tab .tab-name {
  width: 8rem;
  overflow: hidden;
  height: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab .call-type {
  font-size: x-small;
}

.tab .tab-delete {
  float: right;
  opacity: 0.5;
  margin-top: 0.25rem;
}

.tab .tab-delete:hover {
  opacity: 0.75;
}

.tab.tab-active:before,
.tab.tab-active:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 20px;
  bottom: -1px;
  pointer-events: none;
  z-index: 2;
}

.tab.tab-active:before {
  left: -21px;
  border-radius: 0 0 10px 0;
  box-shadow: 10px 0 0 0 #f8f9fa;
}

.tab.tab-active:after {
  right: -21px;
  border-radius: 0 0 0 10px;
  box-shadow: -10px 0 0 0 #f8f9fa;
}

::ng-deep .bootstrap-dark .tab.tab-active:before {
  box-shadow: 10px 0 0 0 #343a40;
}

::ng-deep .bootstrap-dark .tab.tab-active:after {
  box-shadow: -10px 0 0 0 #343a40;
}

.new-tab {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}

.new-tab:hover {
  opacity: 0.75;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  display: none;
  background-color: #f8f9fa;
  width: 100%;
  height: 100%;
}

::ng-deep .bootstrap-dark .tab-pane {
  background-color: #343a40;
}

.tab-pane.active {
  display: block;
}

.tab-pane-metrics {
  position: relative;
  height: 100%;
  width: 25rem;
  background-color: $alt-accent;
  transition: max-width 1s;
}

.tab-pane-metrics .metrics-container {
  padding: 0.5rem;
  min-width: 16.5rem;
}

::ng-deep .bootstrap-dark .tab-pane-metrics {
  background-color: $alt-accent-dark;
}

.metric {
  padding-right: 0.5rem;
}

.metric > .key {
  background-color: rgba(1, 1, 1, 0.15);
  padding: 0 0.5rem 0 1rem;
  overflow-wrap: anywhere;
  margin-bottom: 0px;
  padding-bottom: 2px;
  width: 100%;
}

::ng-deep .accordion-button > .card-header {
  padding: 0;
}

.tab-pane-input {
  position: relative;
  height: 100%;
  padding: 0.5rem;
  height: 100%;
}

@media (max-width: 1440px) {
  .tab-pane-input {
    height: 100%;
    transition: height 1s;
  }

  .tab-pane-input.maximize-output {
    height: 3rem;
  }

  .tab-pane-input-content.maximize-output {
    display: none;
  }
}

.tab-pane-output {
  position: relative;
  padding: 0.5rem;
  background-color: $primary;
  min-height: 3.25rem;
  height: 100%;
}

@media (max-width: 1440px) {
  .tab-pane-output {
    height: 3rem;
    transition: height 1s;
  }

  .tab-pane-output.show-output {
    height: 100%;
  }
}

::ng-deep .bootstrap-dark .tab-pane-output {
  background-color: $primary-dark;
}

.tab-url {
  background-color: $primary;
  padding: 0.25rem 0.5rem;
  margin: -0.5rem;
  opacity: 0.25;
  max-width: 85%;
  word-break: break-all;
}

.tab-url:hover {
  opacity: 0.75;
}

::ng-deep .bootstrap-dark .tab-url {
  background-color: $primary-dark;
}

.tab-pane-send {
  padding-top: 0.5rem;
  text-align: right;
}

@media (max-width: 1440px) {
  .tab-pane-send.maximize-output {
    display: none;
  }
}

.call-type {
  color: teal;
  font-size: small;
  font-weight: bold;
}

::ng-deep .bootstrap-dark .call-type {
  color: orange;
}

.toggle-menu-btn {
  opacity: 0.5;
  border-radius: 0;
}

.toggle-menu-btn:hover {
  opacity: 0.75;
}

.toggle-menu-btn-large:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.example-btn {
  font-size: 10px;
  padding: 0rem 0.5rem;
}

.collapse-buttons {
  display: flex;
  flex-direction: row;
}

.collapse-buttons > span {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.collapse-buttons button:not(.raw) {
  background-color: $alt-accent;
  margin: 0;
  border-radius: 0;
  opacity: 0.75;
  flex-grow: 1;
}

.collapse-buttons.alt button:not(.raw) {
  background-color: $accent;
}

.collapse-buttons button:not(.raw):first-child {
  border-radius: 0.5rem 0 0 0;
}

.collapse-buttons button:not(.raw):last-child {
  border-radius: 0 0.5rem 0 0;
}

.collapse-buttons button.active:not(.raw) {
  background-color: $alt-primary;
  opacity: 1 !important;
}

.collapse-buttons.alt button.active:not(.raw) {
  background-color: $primary;
}

.collapse-buttons button:not(.raw):hover {
  opacity: 1;
}

::ng-deep .bootstrap-dark .collapse-buttons button:not(.raw) {
  background-color: $alt-accent-dark !important;
}

::ng-deep .bootstrap-dark .collapse-buttons button.active:not(.raw) {
  background-color: $alt-primary-dark !important;
}

::ng-deep .bootstrap-dark .collapse-buttons.alt button:not(.raw) {
  background-color: $accent-dark !important;
}

::ng-deep .bootstrap-dark .collapse-buttons.alt button.active:not(.raw) {
  background-color: $primary-dark !important;
}

.collapse-container {
  background-color: $alt-primary;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.75rem !important;
}

.collapse-container.alt {
  background-color: $primary;
}

.collapse-container.adjusted-height {
  height: calc(100% - 2rem) !important;
}

// .collapse-container span {
//   display: none;
// }

// .collapse-container span.active {
//   display: unset;
// }

::ng-deep .bootstrap-dark .collapse-container {
  background-color: $alt-primary-dark !important;
}

::ng-deep .bootstrap-dark .collapse-container.alt {
  background-color: $primary-dark !important;
}

.owltometa-files-drop {
  padding: 1rem;
  background-color: $primary;
  border: dotted 3px $accent;
  text-align: center;
  width: 100%;
  opacity: 0.6;
}

.owltometa-files-drop:hover {
  opacity: 1;
}

::ng-deep .bootstrap-dark .owltometa-files-drop {
  background-color: $primary-dark !important;
  border: dotted 3px $accent-dark !important;
}

.owltometa-files-table {
  border-collapse: collapse;
}

.owltometa-files-table thead th {
  // position: sticky;
  // top: -1px;
  background-color: $primary;
}

::ng-deep .bootstrap-dark .owltometa-files-table thead th {
  background-color: $primary-dark !important;
}

.owltometa-file-row {
  background-color: rgba(1, 1, 1, 0.2);
}

.owltometa-file-row:hover {
  background-color: rgba(1, 1, 1, 0.1);
}

.invalid-drag {
  border: dotted 3px red;
}

.valid-drag {
  opacity: 1;
}

.flex-responsive {
  flex-direction: row;
}

@media (max-width: 1440px) {
  .flex-responsive {
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .hide-xl {
    display: none !important;
  }
}

@media (max-width: 1440px) {
  .hide-sm {
    display: none !important;
  }
}
