<div class="container crowd-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark crowd-navbar">
    <a class="navbar-brand crowd-title" routerLink="/">crowd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content"
      aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-supported-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-fw fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/editor/uml" class="nav-link" routerLinkActive="active">
            <i class="fa fa-fw fa-th"></i> Editor
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
            <i class="fa fa-fw fa-users"></i> Users
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" *ngIf="!auth.loggedIn" (click)="openRegister()">
            <i class="fa fa-fw fa-user-plus"></i> Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link" *ngIf="!auth.loggedIn" (click)="openLogin()">
            <i class="fa fa-fw fa-sign-in"></i> Log In
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-fw fa-user"></i> {{auth.currentUser.username}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-fw fa-sign-out"></i> Log Out
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
