<div class="jumbotron text-center">
  <div class="container editors">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 crowd-logo-about">
        <img class="light-logo" src="/assets/images/logo-new.png">
        <img class="dark-logo" src="/assets/images/logo-new-dark.png">
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10" >
        <h3>A Visual Tool for Involving Stakeholders into Ontology Engineering Tasks</h3>
        <p>
          We provide an interoperable tooling set for representing knowledge about real world to be used in Informations
          Systems
        </p>
        <a class="btn btn-primary" routerLink="/editor/uml">
          UML
        </a>
        <!--<a class='btn btn-primary' href='./wicom/web-src/model_editor.php?type=EER'> -->
        <a class="btn btn-primary" routerLink="/editor/eer">
          EER
        </a>
        <a class="btn btn-primary" routerLink="/editor/orm2" disabled>
          ORM 2
        </a>
        <a class="btn btn-danger disabled" href="./ervt-gui/erd_editor.php">
          Temporal ER
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4 style="color:green"> News </h4>

  <p> - <span style="color:green"> 8/21: </span> <a href="https://www.youtube.com/watch?v=0u2-WP6NAuM&t=283s"
      target="blank">Demo paper</a> presented at <a href="https://www.ijcai.org/proceedings/2021/"
      target="blank">IJCAI-21</a></p>

  <p> - <span style="color:green"> 4/21: </span> crowd 2.0 submitted to ER 21 <a
      href="http://crowd.fi.uncoma.edu.ar/ER21/" target="blank">Motivational Example</a></p>

  <p> - <span style="color:green"> 4/21: </span> KF Rules documentation <a
      href="http://crowd.fi.uncoma.edu.ar/crowd2/crowd2-KFrules/" target="blank">KF Rules</a></p>

  <p> - <span style="color:green"> 5/20: </span> In-Use paper <a
      href="https://content.iospress.com/articles/applied-ontology/ao200228" target="blank">Pre-press</a></p>

  <p> - <span style="color:green"> 5/20: </span> System Description published at "KI - Künstliche Intelligenz" <a
      href="https://doi.org/10.1007/s13218-020-00657-8" target="blank">DOI</a></p>

  <p> - <span style="color:green">4/20: </span>Temporal ER editor integrated to a new TDL-Lite reasoner is now available
    (joint work with Artale, Ozaki and Tahrat from University of Bolzano)</p>

  <p> - <span style="color:green">1/20: </span> UML Editor is now available</p>

  <br>
  <h3>
    About&nbsp;<span class="crowd-font">crowd</span>
  </h3>
  <h4>
    <p>
      <span><a href="https://sites.google.com/a/fi.uncoma.edu.ar/german-braun/crowd-survey"
          target="blank">SURVEY</a></span>
    </p>
  </h4>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h3>Wiki and Roadmap</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          The wiki is available for the development team for publishing information and miscelaneous stuff.
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wiki" target="blank">Wiki and Roadmap</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Tech Report Draft</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          There's a draft of the tech report that explains the design and implementation of
          <span class="crowd-font">crowd</span>
          . Useful for studying the code and adding new features.
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/tech-report" target="blank">Tech Report</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Publications</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          A list of white papers publications references is available at the Wiki.
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wiki/doku.php/trabajos_publicados" target="blank">
          Publications
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h3>Screencast</h3>
      </div>

      <div class="card-body">
        <p class="card-text">
          Learn how to use <span class="crowd-font">crowd</span> features.
        </p>
      </div>

      <div class="card-footer">
        <a class="card-link" href="https://sites.google.com/a/fi.uncoma.edu.ar/german-braun/crowd"
          target="blank">Watch</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Contact Us</h3>
      </div>

      <div class="card-body">
        <!--		<img class='card-img-top' src='./assets/images/mattermost.png' height='50px' width='1px'> -->
        <p class="card-text">
          We use <a href="https://mattermost.com" target="blank">Mattermost software</a> for communicating between us.
          Public channels are available for contacting developers.
        </p>
      </div>

      <div class="card-footer">
        <a class="card-links" href="https://mm-miredlibre.ddns.net/crowd/channels/crowd-around-the-world"
          target="blank">
          Chat with Us
        </a>
      </div>
    </div>

  </div>
  &nbsp;
  <h1>Source Code</h1>
  <p>
    Source code is licensed as
    <img alt="GPL version 3" src="./assets/images/gplv3-88x31.png">
    and available at Bitbucket.
  </p>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/images/gpl.png">
      <div class="card-body">
        <h3 class="card-title">License</h3>
        <p class="card-text">This work is under the General Public License version 3.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.gnu.org/licenses/gpl.html" target="blank">GPL License</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/programmingasphere-800px.png">
      <div class="card-body">
        <h3 class="card-title">Repositories</h3>
        <p class="card-text">
          Repositories are hosted in Bitbucket. We use
          <a href="https://git-scm.org" target="blank">git</a>
          and
          <a href="http://mercurial-scm.org/" target="blank">Mercurial</a>
          .
        </p>
        <ul>
          <a class="card-link" href="https://bitbucket.org/gilia" target="blank">
            GILIA
          </a>
          <a class="card-link" href="https://bitbucket.org/gilia/workspace/projects/CROW" target="blank">
            crowd 2
          </a>
          <a class="card-link" href="https://bitbucket.org/gilia/workspace/projects/WIC" target="blank">
            crowd WICOM
          </a>
        </ul>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wiki/doku.php/repositorios" target="blank">
          List of repositories
        </a>
      </div>
    </div>
    <div class="card">
      <img alt="kid-programming using guile" class="card-img-top" src="./assets/images/kid-programming-a-robot.png">
      <div class="card-body">
        <h3 class="card-title">Resources</h3>
        <p class="card-text">
          You can learn about
          <span class="crowd-font">crowd</span>
          using our documentation or studying the code. We use
          <a href="https://www.doxygen.org" target="blank">Doxygen</a>
          for compiling PHP documentation and
          <a href="https://github.com/coffeedoc/codo" target="blank">codo</a>
          for
          <a href="http://coffeescript.org" target="blank">CoffeeScript</a>
          .
        </p>
        <p class="card-text">
          The tech report (draft) is full of information about design and implementation.
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wicom-qdod/docs/doxygen/html/" target="blank">
          Doxygen generated docs
        </a>
        <a class="card-link" href="http://crowd.fi.uncoma.edu.ar/wicom-qdod/docs/coffee" target="blank">
          Codo generated docs
        </a>
        <a class="card-link" href="./tech-report" target="blank">Tech Report</a>
      </div>
    </div>
  </div>
  &nbsp;
  <h1>Authors and Collaborations</h1>
  <p>
    <span class="crowd-font">c r o w d</span>&nbsp;
    is the result of a combined effort of Grupo de Investigación de Lenguajes e Inteligencia Artificial (G.I.L.I.A.),
    students, graduates and teachers of the Facultad de Informática (Fa.I.) of Universidad Nacional del Comahue
    (U.N.Coma.).
  </p>
  <p>Also, teachers from Universidad Nacional del Sur (U.N.S.) at the Departamento de Ciencias e Ingeniería de la
    Computacion (D.C.I.C.) helped us in the design and development.</p>
  <div class="card-deck">
    <div class="card">
      <img alt="GILIA" class="card-img-top" src="./assets/images/gilia.png">
      <div class="card-body">
        <h4 class="card-title">G.I.L.I.A.</h4>
        <p class="card-text">
          Grupo de Investigación de Lenguajes e Inteligencia Artificial, Universidad Nacional del Comahue
        </p>
      </div>
    </div>
    <div class="card">
      <img alt="FAI" class="card-img-top" src="./assets/images/fai.png">
      <div class="card-body">
        <h4 class="card-title">Fa.I.</h4>
        <p class="card-text">
          Facultad de Informática, Universidad Nacional del Comahue
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://faiweb.uncoma.edu.ar" target="blank">
          Web Principal
        </a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/uncoma.png">
      <div class="card-body">
        <h4 class="card-title">U.N.Coma.</h4>
        <p class="card-text">
          Universidad Nacional del Comahue
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://www.uncoma.edu.ar" target="blank">Web Principal</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/dcic.png">
      <div class="card-body">
        <h4 class="card-title">D.C.I.C.</h4>
        <p class="card-text">
          Departamento de Ciencias e Ingeniería de la Computación, Universidad Nacional del Sur
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://cs.uns.edu.ar" target="blank">Web Principal</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/images/uns.png">
      <div class="card-body">
        <h4 class="card-title">U.N.S.</h4>
        <p class="card-text">
          Universidad Nacional del Sur
        </p>
      </div>
      <div class="card-footer">
        <a class="card-link" href="http://uns.edu.ar" target="blank">Web Principal</a>
      </div>
    </div>
  </div>
  &nbsp;
</div>
